@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

    
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


.container{
    width: 100%;
    margin: 0 auto;
} 

nav{
    float: right;
}

nav ul{
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-right: 10px;
}

nav a{
    color: black;
    text-decoration: none;
}

nav img{
    vertical-align: middle;
}

.signIn{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    font-weight: 100px;
}



